<div class="card">
  <h3 class="card-header">Login</h3>
  <form id="login-form" class="card-body">
    <div>
      <label for="usernameLogin">Username</label>
      <input type="text" id="usernameLogin" />
    </div>
    <div>
      <label for="passwordLogin" class="form-label">Password</label>
      <input type="password" id="passwordLogin" />
    </div>
    <button type="submit" id="loginBtn" class="btn">Login</button>
    <a type="button" href="/signup">Sign Up</a>
  </form>
</div>

<script src="/javascript/login.js"></script>